/* events.css */
.events-page {
    padding: 20px;
}

.events-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

#calendar {
    height: 800px; /* Set a height for the calendar */
    width: 48%;
}

#map {
    width: 48%;
    height: 800px; /* Set a height for the map */
}